<!DOCTYPE html>
<html lang="">

<head>
    <base href="/">
    <!-- <base href="/projects/sa/"> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sidewayz Always Media</title>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--     <link rel="stylesheet" href="bower_components/photoswipe/dist/photoswipe.css">
    <link rel="stylesheet" href="bower_components/photoswipe/dist/default-skin/default-skin.css"> -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
</head>

<body id="body" ng-app="flickrApp" ng-controller="HomeCtrl">
    <!-- <md-toolbar>
        <div class="header">
            <span flex></span>
            
            <img ng-src="{{userIcon}}" class="sa-img"/>
            <span flex></span>
        </div>
        https://github.com/m00s/angular-photoswipe
    </md-toolbar> -->
    <md-toolbar hide-gt-md>
        <div class="md-toolbar-tools nav-link">
            <md-button ng-click="openLeftMenu()">
                <i class="material-icons">reorder</i>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="row" class="all">
        <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')">
            <md-button class="md-icon-button right" hide-gt-md aria-label="Show Menu">
                <md-icon md-font-library="material-icons" ng-click="menuToggle()" aria-label="Close" class="icon-static">close</md-icon>
            </md-button>
            <div class="header">
                <span flex></span>
                <img ng-src="{{userIcon}}" class="sa-img" />
                <span flex></span>
            </div>
            <md-list>
                <md-list-item ng-click="go('home','home');menuToggle();">
                    <p style="font-size:18px;color:white;">HOME</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-repeat="item in menuItems" ng-click="go(item.path,item.name);menuToggle();">
                    <p style="font-size:18px;color:white;">{{item.name | uppercase}}</p>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <div class="fade-view" layout-fill ui-view="">
        </div>
    </div>
    <script src='bower_components/lodash/dist/lodash.min.js'></script>
    <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/hammerjs/hammer.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-material/angular-material.min.js" type="text/javascript"></script>
    <script src='bower_components/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
    <script src='bower_components/angular-google-maps/dist/angular-google-maps.min.js'></script>
    <!--     <script src="bower_components/photoswipe/dist/photoswipe.min.js"></script>
    <script src="bower_components/photoswipe/dist/photoswipe-ui-default.min.js"></script>
    <script src="bower_components/ng-photoswipe/angular-photoswipe.min.js"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ9IW7_K5YkfRX7FEqBi_qoSRbzFLP-Rg" async defer></script>
    <script src="app.js" type="text/javascript"></script>
    <!-- Load services -->
    <script src="services/flickrService.js"></script>
    <script src="services/waitService.js"></script>
    <!-- Load controllers -->
    <script src="controllers/homeCtrl.js"></script>
    <script src="controllers/galleryCtrl.js"></script>
    <script src="controllers/aboutCtrl.js"></script>
    <script src="controllers/contactCtrl.js"></script>
    <script src="controllers/photoLocationsCtrl.js"></script>
    <script src="controllers/waitCtrl.js"></script>
    <!-- Load directives -->
    <script src="directives/mdLightbox.js"></script>
</body>

</html>
