<!-- <md-content>
    <div class="app-content">
        <div layout="row" layout-sm="column" layout-wrap>
            <md-card ng-repeat="picture in results.photoset.photo" flex-gt-sm="25" flex="100">
                <img ng-src="https://farm{{picture.farm}}.static.flickr.com/{{picture.server}}/{{picture.id}}_{{picture.secret}}_m.jpg" class="md-media-lg card-media">
                <h3>{{picture.title._content}}</h3>
                <span>https://farm{{picture.farm}}.static.flickr.com/{{picture.server}}/{{picture.primary}}_{{picture.secret}}_m.jpg</span>
            </md-card>
        </div>
    </div>
</md-content> -->

<div ng-photoswipe
     slides="slides"
     slide-selector=".my-awesome-thumbnail"
     open="isOpen"
     on-close="onGalleryClose()"
     
     options="opts"></div>