<md-content class="main">
    <md-tabs md-border-bottom md-align-tabs="bottom" md-stretch-tabs="always" md-dynamic-height="false">
        <md-tab ng-repeat="s in allslides track by $index" label="{{$index}}">
            <md-content>
                <img ng-src="{{ s.src }}" md-lightbox md-lightbox-title="{{s.title}}" alt="slide number {{ $index }}" index="{{ $index }}" />
            </md-content>

            <!-- <md-tab-label>
		      
		      <img ng-src="{{ s.thumb }}" md-lightbox md-lightbox-title="{{s.title}}" alt="slide number {{ $index }}" index="{{ $index }}" />
		    </md-tab-label>
            <md-tab-body>
                <img ng-src="{{ s.src }}" md-lightbox md-lightbox-title="{{s.title}}" alt="slide number {{ $index }}" index="{{ $index }}" />
            </md-tab-body> -->
        </md-tab>

    </md-tabs>
</md-content>
