<md-content>
    <div class="app-content">
        <div layout="row" layout-sm="column" layout-wrap>
            <md-card ng-repeat="picture in results.photosets.photoset | orderBy:'-date_create'" flex-gt-sm="25" flex="100">
                <img ng-src="https://farm{{picture.farm}}.static.flickr.com/{{picture.server}}/{{picture.primary}}_{{picture.secret}}_m.jpg" class="md-media-lg card-media">
                <h3><a ui-sref="gallery({ photosetid: picture.id })">{{picture.title._content}}</a></h3>
            </md-card>
        </div>
    </div>
</md-content>
