@font-face {
    font-family: miso;
    src: url(fonts/miso-light-webfont.eot);
    src: url(fonts/miso-light-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/miso-light-webfont.woff2) format("woff2"), url(fonts/miso-light-webfont.woff) format("woff"), url(fonts/miso-light-webfont.ttf) format("truetype"), url(fonts/miso-light-webfont.svg#misolight) format("svg");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: miso;
    src: url(fonts/miso-regular-webfont.eot);
    src: url(fonts/miso-regular-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/miso-regular-webfont.woff2) format("woff2"), url(fonts/miso-regular-webfont.woff) format("woff"), url(fonts/miso-regular-webfont.ttf) format("truetype"), url(fonts/miso-regular-webfont.svg#misoregular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: miso;
    src: url(fonts/miso-bold-webfont.eot);
    src: url(fonts/miso-bold-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/miso-bold-webfont.woff2) format("woff2"), url(fonts/miso-bold-webfont.woff) format("woff"), url(fonts/miso-bold-webfont.ttf) format("truetype"), url(fonts/miso-bold-webfont.svg#misobold) format("svg");
    font-weight: 700;
    font-style: normal
}

html {
    font: 400 100%/1.6 miso, sans-serif;
}

body
{
    background-color: #252525;
}

.app-content {
    width: 100%;
}

.all {
    min-height: 100%;
}

form {
    padding: 10px 30px 20px 25px;
}

md-input-container.long > input {
    width: 100%;
}

p {
    font-family: miso, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
}

.header {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    clear: both;
}

.md-button.md-icon-button {
    float: right;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar) .md-button:not(.md-raised),
md-toolbar:not(.md-menu-toolbar) .md-button:not(.md-raised) {
    color: #434443;
    font-size: 22px;
}

.nav-link .material-icons {
    font-size: 50px;
    margin-top: 16px;
}

md-card {
    margin: 0;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
    background-color: #ffffff;
}

.sa-img {
    border-radius: 50%;
    border: 2px solid #ffffff;
    max-width: 110px;
    max-height: 110px;
    padding: 20px;
}

.md-title {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {}

a:visited {}

md-sidenav {
    background-color: #252525;
}

@media screen and (min-width: 600px) {
    md-sidenav {
        max-width: 350px;
        width: 350px;
        background-color: #252525;
    }
    md-card {
        padding: 20px 30px 25px 30px;
    }
}

md-content {
    padding-top: 0;
    padding-right: 0;
    min-height: 100%;
    height: 100%;
    overflow: initial;
}

md-content.main {
    padding: 30px 20px 20px 0;
    background-color:transparent;
}

.home md-tabs[md-align-tabs=bottom] md-tabs-content-wrapper
{
    bottom:0;
}

.angular-google-map {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
}

md-card {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 10px 20px 10px 20px;
}

md-card:nth-child(4n-7) {
    width: 100%;
}

@media screen and (min-width: 769px) {
    md-card {
        width: calc((100vw - 501px) / 4);
        height: calc(((100vw - 640px) / 5.33 ) + 60px);
        padding: 0;
        margin: 10px 20px 10px 20px;
    }
    md-card:nth-child(4n-7) {
        width: calc(((100vw - 405px) / 2) + 20px);
    }

}

md-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 0;
}

.home md-card {
    max-height: 370px;
}

.home md-card a {
    margin-top: auto;
}

.lightbox {
    background-color: transparent;
    box-shadow: none;
    max-height:100%;
}

.lightbox md-toolbar.md-default-theme:not(.md-menu-toolbar),
.lightbox md-toolbar:not(.md-menu-toolbar) {
    background-color: transparent;
}

md-backdrop.md-opaque {
    opacity: .88;
}

.gallery img:hover {
    cursor: pointer;
}

.link {
    outline: none;
    text-decoration: none;
    position: relative;
    font-size: 1em;
    line-height: 1;
    color: #9e9ba4;
    display: inline-block;
}


/* Mallki */

.link--mallki {
    font-weight: 800;
    color: #434443;
    -webkit-transition: color 0.5s 0.25s;
    transition: color 0.5s 0.25s;
    overflow: hidden;
}

.link--mallki:hover {
    -webkit-transition: none;
    transition: none;
    color: transparent;
}

.link--mallki::before {
    content: '';
    width: 100%;
    height: 6px;
    margin: -3px 0 0 0;
    background: #f15a22;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.link--mallki:hover::before {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.link--mallki span {
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

.link--mallki span::before {
    content: attr(data-letters);
    color: red;
    position: absolute;
    left: 0;
    width: 100%;
    color: #f15a22;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.link--mallki span:nth-child(2) {
    top: 50%;
}

.link--mallki span:first-child::before {
    top: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.link--mallki span:nth-child(2)::before {
    bottom: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.link--mallki:hover span::before {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

md-tabs[md-align-tabs="bottom"] md-tabs-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 10;
    background: rgba(33, 33, 33, 0.5);
}

@media screen and (min-width: 769px) {
    md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
        min-height: 900px;
    }
}

md-tabs img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 0;
}

.lightbox md-tabs img {
    max-width:1000px;
    max-height:700px;
}

md-tabs[md-border-bottom]:not(.md-dynamic-height) md-tabs-content-wrapper {
    top: 0;
}

md-tabs.md-default-theme .md-tab,
md-tabs .md-tab {
    color: #ffffff;
}

md-icon.md-default-theme,
md-icon {
    color: #ffffff;
}

.home #tab-content-0 > div {
    height: 100%;
}

.home .homeCenterContent a {
    height: 100%;
    width: 100%;
    background: no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-transform: uppercase;
    font-size: 2em;
    /* background-position: center center; */
}

.home .homeCenterContent a.pic {
    min-height: 900px;
}

.home .homeCenterContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .homeCenterContent img {
}

.nav p {
    text-align: center;
    color:#ffffff;
    transition: color 0.5s ease;
}

.nav p:hover
{
    color:#f15a22;
}

md-sidenav md-list {
    margin-top: 20px;
}

md-sidenav md-list:before {
    display: block;
    content: '';
    background: #f15a22;
    width: 2rem;
    height: 2px;
    margin-bottom: .5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

md-sidenav md-list:after {
    display: block;
    content: '';
    background: #f15a22;
    width: 2rem;
    height: 2px;
    margin-bottom: .5rem;
    margin: 0 auto;
    margin-top: 1rem;
}

md-tabs-wrapper
{
    display:none;
}

.home .scrollClick, .lightbox .scrollClick
{
    position:absolute;
    top:50%;
}

.home .scrollClick:hover, .lightbox .scrollClick:hover
{
    cursor: pointer;
}

.home .scrollClick i, .lightbox .scrollClick i
{
    font-size:100px;
    color:#f15a22;
}

.home .scrollClick.prev, .lightbox .scrollClick.prev
{
    left:0;
}

.home .scrollClick.next, .lightbox .scrollClick.next
{
    right:0;
}

.facebook-icon
{
    width:30px;
    height:30px;
    background-image:url(images/facebook-icon.png);
    background-position:top left;
    background-repeat: no-repeat;
    display:block;
}

.facebook-icon:hover
{
    background-position:bottom left;
}

.instagram-icon
{
    width:30px;
    height:30px;
    background-image:url(images/instagram-icon.png);
    background-position:top left;
    background-repeat: no-repeat;
    display:block;
}

.instagram-icon:hover
{
    background-position:bottom left;
}